body {
    @media (max-width: 1024px) {
        -webkit-touch-callout: none !important;
        -khtml-user-select: none !important;
        -ms-touch-action: pan-y !important;
        touch-action: pan-y !important;
    }
}

.elementor-widget-text-editor .elementor-widget-container>*:last-child {
    margin: 0px !important;
}

.elementor-button-link {

    .elementor-button-icon,
    .elementor-button-text {
        display: flex !important;
    }

    .elementor-button-icon svg {
        width: auto;
    }

    .elementor-button-content-wrapper {
        align-items: center !important;
    }
}

.elementor-widget-icon-list {
    .elementor-icon-list-icon {
        svg {
            margin: 0px !important;
        }
    }

    .elementor-icon-list-text {
        padding: 0px !important;
        margin: 0px !important;
    }
}

.elementor-widget-icon-box {
    .elementor-icon-box-title {
        margin-top: 0px !important;
    }
}

// -------------- Picture frame -------------
.imgGroup {
    display: block;
    z-index: 5;
    position: relative;
    height: 0px;
    padding-bottom: 70%;
    overflow: hidden;

    img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100% !important;
        height: 100% !important;
        transform: scale(1);
        object-fit: cover;
        transition: all 0.3s;
    }
}

// ---------- line ------------
@mixin line-clamp($lines) {
    -webkit-line-clamp: $lines;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.line-1 {
    @include line-clamp(1);
}

.line-2 {
    @include line-clamp(2);
}

.line-3 {
    @include line-clamp(3);
}

// ---------- video ------------
.video {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 56.25%;

    iframe,
    video {
        position: absolute;
        width: 100%;
        height: 100%;
        border: none;
    }
}